* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}
body {
  font-family: "vazir" !important;
  direction: rtl;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(56, 56, 152, 1) 13%,
    rgba(0, 255, 192, 1) 48%,
    rgba(226, 140, 238, 1) 90%
  );
}
input,
textarea {
  font-size: 24px !important;
  border: none !important;
  border-bottom: 1px solid rgba(117, 117, 117, 0.3) !important;
  font-size: 30px;
}
input::placeholder,
textarea::placeholder {
  font-size: 20px;
  font-weight: 500;
}
.form-control:focus {
  box-shadow: none !important;
  border-color: transparent !important;
}
textarea {
  height: 120px !important;
  resize: none !important;
}
